/*  Variáveis de Cores  */
:root {
  --cor-primaria: #0044cc;
  --cor-secundaria: #002266;
  --cor-fundo: #f0f8ff;
  --cor-texto: #333;
}

/*  Estilos Gerais  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

/* ===== Estilos para o Container Principal ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/*  Cabeçalho  */
header {
  background-color: var(--cor-primaria);
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 24px;
}

/*  Menu de Navegação  */
nav {
  background-color: var(--cor-secundaria);
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: var(--cor-primaria);
}

/*  Conteúdo Principal  */
main {
  padding: 20px;
  text-align: center;
}

/*  Rodapé  */
footer {
  background-color: var(--cor-primaria);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Listas */
ul {
  list-style-position: inside;
  padding-left: 0;
  text-align: left;
}

li {
  margin-bottom: 5px; /* Adiciona espaçamento entre os itens */
}

/*  Cards  */
.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: var(--cor-primaria);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.card a:hover {
  background-color: var(--cor-secundaria);
}

/* Formularios */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--cor-primaria);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--cor-secundaria);
}
